<div class="depot-form">
  <% form_tag do %>
    <fieldset>
      <legend>请用户登录</legend>

      <div>
        <label for="name">登录名:</label>
        <%= text_field_tag :name, params[:name] %>
      </div>

      <div>
        <label for="password">密码:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div>
        <%= submit_tag " 确定 " %>
      </div>
    </fieldset>
  <% end %>
</div>