<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<HEAD>
		<META http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <TITLE><%= controller.controller_name+': '+controller.action_name %></TITLE>
  	<%= stylesheet_link_tag 'scaffold' %>
	</HEAD>
	<BODY>
		<P style="color: green"><%= notice %></P>
		<%= yield %>
	</BODY>
</HTML>